@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: black;
    color: #e9e9e9;
    overflow-x: hidden;
}

h1 {
    font-size: 3em;
}

main {
    padding-left: 5px;
    padding-right: 5px;
}

.blur {
    filter: blur(5px);
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */

header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#img_logo {
    width: 90vw;
    max-width: 300px;
    cursor: pointer;
}

/* connection */

form#log_in_form,
form#sign_in_form {
    display: flex;
    flex-direction: column;
}

div.auth_div button {
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: black 1px solid;
}

div.auth_div button:hover {
    color: #b90000;
    background-color: rgba(0, 0, 0, 0.4);
}

div.form_bottom button {
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    font-size: inherit;
}

div.form_bottom button:hover {
    color: #b90000;
    background-color: transparent;

}

div#form_connection_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#form_connection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: antiquewhite;
    padding: 5%;
    color: black;
    border-radius: 2%;
}

div#error {
    color: red;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%
}

div.form_bottom {
    margin-top: 20px;
    font-size: 0.7em;
}

/* search */

div.bottom {
    display: flex;
    flex-direction: column;
    height: 20px;
    padding-left: 5px;
}

input#search {
    width: 0;
    padding: 0;
    border: 0;
    background-color: black;
    transition: all 0.5s ease-in-out;
    outline: none;
}

input#search.active {
    width: 150px;
    padding-left: 5px;
    color: #e9e9e9;
    transition: all 0.5s ease-in-out;
}

div#search_results {
    position: absolute;
    background-color: black;
    z-index: 9999;
}

div#search_results ul {
    padding: 5px;
    color: #e9e9e9;
    border: 1px solid #e9e9e9;
}

div#magnifying {
    cursor: pointer;
}

/* home */

div.popular_div {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

div.popular_div>h2 {
    font-size: 1.8em;
    padding-left: 2%;
}

div.item_div>h3 {
    font-size: 1.5em;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

div.item_div {
    flex-grow: 1;
}

.image_container>img {
    width: 100%;
}

/* header */

nav {
    padding-right: 2%;
}

#burger {
    width: 30px;
    height: 2px;
    background: #e9e9e9;
    display: inline-block;
    position: relative;
}

#burger::before,
#burger::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #e9e9e9;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}

#burger::before {
    top: -7px;
}

#burger::after {
    top: 7px;
}

#burger.open {
    background: transparent;
}

#burger.open::before {
    transform: rotate(45deg);
    top: 0;
}

#burger.open::after {
    transform: rotate(-45deg);
    top: 0;
}

#burger_div {
    float: right;
    height: 30px;
}

ul#list-menu {
    position: absolute;
    padding: 5%;
    right: -10%;
    top: 30px;
    width: 0px;
    background-color: #e9e9e9;
    color: black;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}

ul#list-menu.open {
    width: 40%;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
}

#list-menu a:hover {
    color: #b90000;
    text-decoration: underline;
}

/* details */

div#details_div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

div#details_div img {
    width: 60%;
    margin: auto;
}

div.movie_details,
div.tv_details {
    text-align: left;
}

span.movie_details_item,
span.tv_details_item {
    font-weight: bold;
    color: #e9e9e980;
}

div.movie_details h2,
div#comments_div h2,
div.tv_details h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5%;
}

div.movie_details h5 div.tv_details h5 {
    font-size: 0.9em;
    color: #e9e9e980;
}

div#details_div p {
    margin-top: 3%;
}

div#form_comment_div {
    display: none;
}

/* comments */

form.response_form.hidden {
    display: none;
}

div#comments_div {
    margin-top: 5%;
    margin-bottom: 5%;
}

div#comment_div {
    border: 1px solid #e9e9e9;

}

div#comments_div>div {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

div.author_content {
    display: flex;
    flex-direction: column;
}

div.author {
    height: 2em;
    border: 1px solid #e9e9e9;
}

div.content {
    position: relative;
    min-height: calc(3rem + 20px);
    height: calc(3rem + 20px);
    line-height: 1.1rem;
    padding: 10px;
    border: 1px solid #e9e9e9;
}

div.content.opened {
    height: fit-content;
}


div.content>p {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

div.content::before {
    content: "Voir plus";
    position: absolute;
    bottom: 6px;
    right: 10px;
    padding-left: 50px;
    background: linear-gradient(90deg, #e9e9e900, black 50px);
}

div.content.short_com::before {
    content: "";
}

div.content.opened::before {
    content: "Voir moins";
}

div.responses_com {
    margin-left: 5%;
    display: none;
}

/* loader */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-top-color: #b90000;
    border-radius: 50%;
    animation: spin 1.2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* carousel */

#carousel_movies,
#carousel_tvs {
    /* width: 100%;
    height: 300px; */
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel_item {
    display: none;
    top: 0;
    left: 0;
}

.visible {
    display: block;
}

#prev_button,
#next_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 2em;
    cursor: pointer;
    border: none;
}

#prev_button:hover,
#next_button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#next_button {
    right: 0;
}

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}

/* pagination */

div.pagination {
    display: flex;
    justify-content: space-between;
}

button.previous,
button.next {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

button.previous:hover,
button.next:hover {
    /* background-color: #c92229; */
    color: #c92229;
    text-decoration: underline;
}

@media screen and (max-width: 1200px) and (min-width: 700px) {

    #reco_div {
        display: grid;
        grid-template-columns: repeat(5, 150px);
    }
}

@media screen and (min-width: 1200px) {

    div#reco_div {
        display: grid;
        grid-template-columns: repeat(5, 150px);
    }

    div#details_div {
        flex-direction: row;
    }

    div#details_div > div {
        width: 50%;
    }
}